<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <app-h1 [data] = "'users'"></app-h1>
            <div *ngIf="msg" class="alert alert-info">
                {{ msg }}
                <button class="close" (click)="close()">X</button>
            </div>
            <table class="table table-dark">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Change Status</th>
                </tr>

                <tr *ngFor="let u of users; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.contact }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.status==1 ? 'Enable' : 'Disable' }}</td>
                    <td><button class="btn btn-info p-3" (click)="change_status(u)">Change</button></td>
                </tr>
            </table>

        </div>
    </div>
</div>
