
    <div class="single-popular-items mb-50 text-center">
        <!-- <pre>{{ product | json }}</pre> -->
        <div class="popular-img">
            <img src="{{ product.image }}" alt="" style="height: 300px;">
            <div class="img-cap">
                <span>Add to cart</span>
            </div>
            <div class="favorit-items">
                <span class="flaticon-heart"></span>
            </div>
        </div>
        <div class="popular-caption">
            <h3><a href="product_details.html">{{ product.title }}</a></h3>
            <span>&#8377; {{ product.price }}</span>
        </div>
    </div>
