
    <div class="single-popular-items mb-50 text-center">
        <!-- <pre>{{ product | json }}</pre> -->
        <div class="popular-img">
            <img src="{{ product.image }}" alt="" style="height: 300px;">
            <div class="img-cap">
                <span><a routerLink="/buyproduct/{{ product._id }}">Buy Now</a></span>
            </div>
            <div class="favorit-items">
                <!-- <span class="flaticon-heart"></span> -->
                <span class="badge badge-danger badge-pill text-light">{{ product.discount }}%</span>
            </div>
        </div>
        <div class="popular-caption">
            <h3><a href="product_details.html">{{ product.title }}</a></h3>
            <span>{{ product.price | discount : product.discount | currency : '&#8377;' }}</span>
            <span><del style="color: rgb(156, 154, 154) !important; font-size: 14px;">{{ product.price | currency :  '&#8377;'}}</del></span>
        </div>
    </div>
