<div class="container my-5" style="min-height: 700px;">
    <form [formGroup]="forgotForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Forgot Password</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Username/Email</label>
                        <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : forgotForm.controls['email'].errors && checkForm }"/>
                    </div>
                    <small class="text-danger">{{ errMsg }}</small>
                </div>
                <div class="card-footer">
                    <input (click)="submit()" type="submit" value="Send OTP" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    </form>
    
</div>
