<div class="container my-5" style="min-height: 700px;">
        <ng-template [ngIf]="otp==false" [ngIfElse]="box">
        <form [formGroup]="forgotForm">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Username/Email</label>
                            <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid' : forgotForm.controls['email'].errors && checkForm }"/>
                        </div>
                        <small class="text-danger">{{ errMsg }}</small>
                    </div>
                    <div class="card-footer">
                        <input (click)="submit()" type="submit" value="Send OTP" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        </form>
        </ng-template>


  
        <ng-template #box>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>OTP</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Insert OTP</label>
                            <input type="text" [(ngModel)]="a" class="form-control" />
                        </div>
                        <small class="text-danger">{{ errMsg2 }}</small>
                    </div>
                    <div class="card-footer">
                        <input (click)="checkotp()" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        </ng-template>
    </div>
    

<div>
