<div class="container my-4">
    <form [formGroup]="passForm">
    <div class="row">

        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Update Your Password</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Current Password</label>
                        <input [ngClass]="{'is-invalid' : passForm.controls['cur_pass'].errors && checkForm }" formControlName="cur_pass" type="password" class="form-control" />
                        <small class="text-danger">{{ errMsg }}</small>
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input [ngClass]="{'is-invalid' : passForm.controls['new_pass'].errors && checkForm }" formControlName="new_pass" type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="">Confirm New Password</label>
                        <input [ngClass]="{'is-invalid' : passForm.controls['confirm_new_pass'].errors && checkForm }" formControlName="confirm_new_pass" type="password" class="form-control" />
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" (click)="update()" value="Update" class="btn btn-primary" />
                </div>
            </div>  
            <div class="alert alert-success" *ngIf="successMsg">
                {{ successMsg }}
            </div>  
        </div>
        
    </div>
    </form>
</div>
