<div class="container my-3" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h4>User Profile Page</h4>
            <a routerLink="/user/update" class="btn btn-dark p-3">Update</a>
            <table *ngIf="user" class="table table-bordered table-dark my-3">
                <tr>
                    <td>Full Name</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{ user.state }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ user.gender }}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{ user.contact }}</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
