<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            
            <table appHello class="table table-hover table-dark">
                <tr>
                    <th>S.No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let p of allProduct; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ p.title }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.category }}</td>
                    <td><a class="btn btn-info p-3" routerLink="/admin/product/edit/{{ p._id }}">Update</a></td>
                    <td><button (click)="delete(p)" data-toggle="modal" data-target="#delModal" class="btn btn-danger p-3">Delete</button></td>
                </tr>
            </table>

            <!-- <app-table [colNames]="colNames" [data]="allProduct" [propName]="propName" [upDateUrl]="upDateUrl"></app-table> -->
        </div>
    </div>
</div>
<app-delete [data]="'Product'" (myEvent)="confirm_delete()"></app-delete>