<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- <button #btn (click)="demo1()" style="display: none;">Button 1</button>
            <button (click)="demo2(btn)">Button 2</button> -->

            <table class="table table-dark">
                <tr>
                    <th>S.No.</th>
                    <th>Category Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let c of allCategory; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ c.name }}</td>
                    <td><a class="btn btn-info p-3" routerLink="/admin/category/edit/{{ c._id }}">Update</a></td>
                    <td><button data-toggle="modal" data-target="#delModal" (click)="delete(c)" class="btn btn-sm btn-danger p-3">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<app-delete [data]="'Category'" (myEvent)="confirm_delete()"></app-delete>